[Desktop Entry]
Name=WinDesk
NoDisplay=true
MimeType=x-scheme-handler/windesk;
TryExec=windesk
Exec=windesk %u
Icon=windesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=windesk
